*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Montserrat",sans-serif;
}
@media(max-width:1024px){
    .wapper{
        width: 30px;
        float: left;
        padding: 10px;
 }
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 8%;
    background-color: transparent;
}
header nav ul li{
    display: inline;
    padding: 0px 40px;
    
}
.logo{
    cursor: pointer;
    margin-right: auto;
}
li,a,button{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: white;
    
}
nav,ul,li,a{
    color: rgb(228, 186, 211);
    font-size: 20px;
}

nav,ul,li,a{
    transition: all 0.3s ease 0s;
}
nav li a:hover{
    color: rgb(172, 224, 26);
    transition: all 0.3s ease 0s;
}
header button{
    border-radius: 40px 40px;
    border: none;
    background-color: rgb(236, 41, 227);
    padding: 10px;
    cursor: pointer;
    outline: none;
    }
.wapper .loc  i{

    color: blue;
    margin-right: 8px;
    border-color: black;
    font-size: 20px; 
    transition: all 0.4 ease 0s;
}
.wapper .loc:hover{
    background-color: blueviolet;
    transform: scale(1.2);
    opacity: 0.7;
    transition: all 0.4 ease 0s;
    color: rgb(228, 19, 19);
}
/*wapper*/
.wapper {
    background: url("../css/image/chilly.jpg") no-repeat center center / cover;
    opacity: 1;
    width: 100%;
    display: block;
    position: relative;
    z-index: 10;
}
.wapper::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
/* contents*/
.content{
    display: flex;
    padding: 80px 10%;
    justify-content: space-between;
    color: aliceblue;
}
.wapper .content button {
    margin-top: 30px;
    margin-left: 100px;
    padding:  20px;
    background-color: orange;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    }
    .wapper .content button:hover{
        background-color: chocolate;
        color: azure;
        transform: scale(1.2);

    }
 .socialmedia{
    display: flex;
    padding: 80px 10%;
    justify-content:space-between ;
}
 .socialmedia .ins {
  
    font-size: 40px;
    width: 100px;
    height: 80px; 
    background-color: #E1306C;
    color: black;
    border-radius: 30px;
}
 .socialmedia .ins:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: #E1306C;
    
}

.socialmedia .face{
font-size: 30px;
width: 100px;
height: 80px;
background-color:#4267B2;
border-radius: 30px;
}
.socialmedia .face:hover{
transform: scale(1.2);
cursor: pointer;
background-color: #354d83;
}
.socialmedia .twitter{
    font-size: 30px;
    width: 100px;
    height: 80px;
    background-color:#1DA1F2;
    border-radius: 30px;
    }
    .socialmedia .twitter:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color:#2676af;
    }

     .hero .flavor p{
        text-shadow: rgb(14, 13, 13) 2px 2px;
        font-size: 30px;
          color: red;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .hero .flavor p:hover{
        cursor: pointer;
        color: brown;
        transform: scale(1) ;   
        transition: all 0.3s ease 0s;
    }
    .hero h1{
        color: aquamarine;
        text-shadow: #2676af 1px 1px;
        margin-bottom: 10px;
    }
    .hero p{
        font-size: 20px;
        text-shadow: black;
        
    }